:root {
  --details: #588106;
  --contraste: #551a8b;
  --footer-bg: #faebd7;
  --footer-text: ##878787;
  --newsletter-bg: #e6cf3c;
  --cl-background: #fffaf4;
  --clr-gold: #6042e7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  background-color: var(--cl-background);
}

/*Header*/
header .container-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--footer-bg);
}

header .img-logo {
  margin-left: 15px;
}

header nav a {
  text-decoration: none;
  color: var(--details);
  margin-right: 10px;
}

header nav a:hover {
  color: var(--contraste);
}

/* Texto Principal */
.main-box {
  margin: 30px;
}

.main-title {
  text-align: center;
}

.main-box p {
  font-size: 20px;
  text-align: center;
  margin: 30px 60px 10px 60px;
}

/* Menu */

.menu {
  padding: 5rem 0;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-gold);
  margin-left: auto;
  margin-right: auto;
}
.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: var(--clr-gold);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: all 0.3s linear;
}
.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  object-fit: cover;
  height: 200px;
  border: 0.15rem solid var(--clr-gold);
  border-radius: 0.5rem;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.receita-icones {
  color: var(--clr-gold);
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
  text-align: justify;
}

/*Footer */
.footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
}

.footer .container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer img {
  width: 300px;
}

.footer-col ul {
  list-style: none;
  padding: 70px 0;
}

.footer-col ul a {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  align-items: center;
}

.footer-col .links {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.footer-col .links::before {
  content: '';
  position: absolute;
  left: 40%;
  bottom: -10px;
  background-color: var(--details);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col .redes {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  align-content: start;
}

.footer-col .redes::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: var(--details);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #7c6262;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: var(--details);
  padding-left: 10px;
}

.footer-col p {
  margin-top: 20px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: var(--details);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
  color: var(--contraste);
  background-color: var(--details);
}

.footer-col .social-links a:hover {
  color: var(--details);
  background-color: var(--contraste);
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
